.Introduction h3 {
    margin-top: 150px;
    margin-bottom: 0; 
    margin-left: 40px;
    color: #286F6C;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.Introduction h1 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 40px;
    color: black;
    font-size: 75px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.Introduction li{
    list-style: none;
    display: inline-block;
}

.ab{
    margin-top: 0;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: bold; 
    color: #286F6C;
    margin-right: 4px;
}

.cd{
    margin-left: 4px;
    margin-top: 0;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #F26440;
}

.descryption {
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 600px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 100px; /* Increase the gap between description and button */
}

.button {
    padding: 10px 10px; 
    margin-left: 50px; 
    font-size: 20px; 
    font-weight: bold; 
    background-color: #F26440; 
    color: white; 
    border-radius: 10px; 
    border: none; 
    box-shadow: 0 0 15px #F26440; 
    transition: box-shadow 0.5s ease; 
}


.button:hover {
    box-shadow: 0 0 5px #F26440; 
}
