.id{
    color: #286F6C;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-right: 750px;
}

.header li {
    list-style: none;
    display: inline-block;
}

.nav-list {
    color: #286F6C;
    margin-top: 30px;
    margin-right: 50px;
    text-align: right;
}

.nav-list a {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    color: #286F6C;
    text-decoration: none;
}

.nav-list a:hover {
    color: black;
}



